## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
Drop_df = application_df.drop(columns =["EIN","NAME"])
Drop_df

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [3]:
# Determine the number of unique values in each column.
Drop_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
Binned_df = Drop_df["APPLICATION_TYPE"].value_counts()
Binned_df

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = Binned_df[Binned_df <= 500]
application_types_to_replace = application_types_to_replace.index.values

In [10]:
#application_types_to_replace
for app in application_types_to_replace:
    Drop_df['APPLICATION_TYPE'] = Drop_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
Drop_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
Binned2_df = Drop_df["CLASSIFICATION"].value_counts()
Binned2_df

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4200        1
C2570        1
C1728        1
C1732        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
Binned2_df[Binned2_df >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C4100        6
C1720        6
C2400        6
C1257        5
C1600        5
C2710        3
C1260        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = Binned2_df[Binned2_df <= 1200]
classifications_to_replace = classifications_to_replace.index.values

In [18]:
# Replace in dataframe
for cls in classifications_to_replace:
    Drop_df['CLASSIFICATION'] = Drop_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
Drop_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [20]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

Dummies_df = pd.get_dummies(Drop_df)
Dummies_df

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 44 columns]

In [21]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = Dummies_df["IS_SUCCESSFUL"].values
X = Dummies_df.drop(["IS_SUCCESSFUL"],1).values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2, stratify=y)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=8, input_dim=len(X_train[0]), activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=5, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403
Trainable params: 403
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.6170 - accuracy: 0.6819
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5691 - accuracy: 0.7197
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5607 - accuracy: 0.7243
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5569 - accuracy: 0.7265
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7270
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5530 - accuracy: 0.7293
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5520 - accuracy: 0.7299
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5515 - accuracy: 0.7304
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5509 - accuracy: 0.7304
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7304
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7304
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7318
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7310
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7308
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7311
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7315
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7306
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7313
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7310
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7313
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7308
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7315
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7318
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7315
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7320
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7320
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7313
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7315
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7321
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7308
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7316
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7320
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7317
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7320
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7319
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7316
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7314
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7323
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7304
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7319
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7325
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7322
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7314
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7323
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7310
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7327
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7320
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7322
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7322
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7311
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7324
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7319
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7322
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7317
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7329
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7329
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7324
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7317
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7315
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7307
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7324
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7335
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7334
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7304
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7318
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7320
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7327
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7321
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7326
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7325
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7313
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7317
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7307
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7318
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7316
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7318
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7330
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7286
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7324
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7305
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7318
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7322
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7320
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7317
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7317
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7313
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7326
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7322
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7322
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7320
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7321
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7318
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7328
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7325
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7331
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7333
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7324
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7322
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7327
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7325

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5534 - accuracy: 0.7270 - 424ms/epoch - 2ms/step
Loss: 0.5534225106239319, Accuracy: 0.7269970774650574

In [27]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity.h5")